<form enctype='application/json' method="POST" action="/login" >
    <input placeholder="Username" type="text" name="name"> 
    <input placeholder="Password" type="password" name="password"> 
    <button>Submit</button>
</form>