<form method="POST" action="/signup">
    <input placeholder="Username" type="text" name="name">

    <input placeholder="Email Address" type="email" name="email"> 
    <input placeholder="Confirm Email" type="email" name="c_email"> 

    <input placeholder="Password" type="password" name="password"> 
    <input placeholder="Password" type="password" name="c_password">
    <button>Submit</button>
</form>


